@charset "UTF-8";
/*Paleta de Cores
verde: #49a09d
lílas: #5f2c82
*/

*{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}
html{
   background-image: linear-gradient( 45deg , #8f220fd5 , #1a76ee);
}
main{
    width: 100vw;
    height: 100vh;
    
}
#login{
height: 100vh;
width: 100vw;

}
#imagem{
    display: block;
    margin: auto;
   padding-top: 50px;
  
   height: 30vh;
   border-radius: 50px 50px 0px 0px ;
}
img{
    height: 30vh;
    width: 52.7vw;
    display: block;
    margin: auto;
    border-radius: 30px 30px 0px 0px;
    
}
#formulario{
    text-align: justify;
    background-color: white;
    display: block;
    margin: auto;
    width: 50vw;
    height: 30vh;
    border-radius:0px 0px 50px 50px;
    padding: 10px;
}
h1{
    text-align: center;
}
.nome-do-email{

}
.email{
    background-color: #1a76ee ;
    padding: 10px;
    color: blue;
}

